
<ion-menu [content]="content" >

    <ion-content>

        <img src="assets/img/dreamhouse-logo.svg" class="menu-logo" />

        <ion-list>
            <ion-list-header>
                movepheus
            </ion-list-header>
            <button menuClose ion-item *ngFor="let menuItem of movepheusMenu" (click)="openPage(menuItem)">
                <ion-icon item-left [name]="menuItem.icon"></ion-icon>
                {{menuItem.title}}
            </button>
        </ion-list>

        <ion-list>
            <ion-list-header>
                Hilfe
            </ion-list-header>
            <button menuClose ion-item *ngFor="let menuItem of helpMenu" (click)="openPage(menuItem)">
                <ion-icon item-left [name]="menuItem.icon"></ion-icon>
                {{menuItem.title}}
            </button>
        </ion-list>

        <ion-list>
            <ion-list-header>
                Allgemein
            </ion-list-header>
            <button menuClose ion-item *ngFor="let menuItem of infoMenu" (click)="openPage(menuItem)">
                <ion-icon item-left [name]="menuItem.icon"></ion-icon>
                {{menuItem.title}}
            </button>
        </ion-list>

    </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>