<!--
  Generated template for the Remind page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>remind</ion-title>
        <ion-buttons end>
            <button (click)='addReminder()' ion-button icon-only>
                <ion-icon name='add'></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
w
<ion-content padding>
    <ion-item-group no-border>
       <ion-item *ngFor="let reminder of reminders | async">
            <ion-toggle checked="{{reminder.content.active}}" [(ngModel)]="reminder.content.active" (ionChange)="reminderCheckboxUpdate(reminder)" item-left></ion-toggle>
            <ion-label (click)="openReminderDetail(reminder)">
                {{reminder.title}}
            </ion-label>
           <ion-icon name="ionic" [ngStyle]="{'color':reminder.content.color}" color="{{reminder.content.color}}" item-right></ion-icon>
        </ion-item>
    </ion-item-group>

    <ion-item-group >
        <ion-list-header>
            <ion-buttons end>
                <button [hidden]="!(reminders | async) ?.length" (click)='listMoveEvents()' left>
                    <ion-icon name='albums'></ion-icon>
                </button>
                Bewegungskalender 
                <button [hidden]="!(reminders | async) ?.length" (click)='addMoveEvent()' right>
                    <ion-icon name='add'></ion-icon>
                </button>
            </ion-buttons>
        </ion-list-header>

        <ion-item *ngFor="let day of days"> 
            <ion-item-divider light>{{day.title}}</ion-item-divider>
            <ion-item *ngFor="let moveEvent of day.reminders">
                {{contact}}

                <ion-icon name="ionic" color="{{moveEvent.color}}" [ngStyle]="{'color':moveEvent.color}" item-left></ion-icon>
                {{formatDateTime(moveEvent.notifytimestart)}}-{{formatDateTime(moveEvent.notifytimeend)}} | {{moveEvent.title}} (alle {{moveEvent.interval}} min)
            </ion-item>
        </ion-item>
</ion-item-group>
</ion-content>
